.div-input {
  width: 40vw;
  background: #2d2f30;
  display: flex;
  align-items: center;
  border-radius: 5px 5px;
  position: relative;
}
.search-input {
  padding: 16px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  background: #2d2f30;
  color: #f2f2f2;
  border-radius: 25px 25px;
  flex: 1;
}
.search-icon {
  background-color: yellow;
  border-radius: 50%;
  border-radius: 25px 25px;
  margin-right: 8px;
  font-size: 40px;
}
.search-icon:hover {
  cursor: pointer;
}

.logo {
  text-align: center;
  margin-bottom: 35px;
}

.logo img {
  width: 200px;
}
.div-dropdown {
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0px 0px 5px 5px;
  outline: 0;
  font-size: 16px;
  background: #2d2f30;
  color: #f2f2f2;
  background-color: #2d2f30;
  margin-top: -3.5px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.div-dropdown::-webkit-scrollbar {
  width: 0px;
}
.div-dropdown::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* If screen size is 600px wide, or less, set the input size and searchicon */
@media screen and (max-width: 800px) {
  .div-input {
    width: 50vw;
  }
  .search-input {
    border: 0;
    outline: 0;
    font-size: 15px;
    background: #2d2f30;
    color: #f2f2f2;
    border-radius: 25px 25px;
    flex: 1;
  }
  .search-icon {
    background-color: yellow;
    border-radius: 50%;
    border-radius: 25px 25px;
    margin-right: 8px;
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .div-input {
    width: 80vw;
  }
}
